@import "tailwindcss";

.card {
    background-color: transparent;
    width: 100%;
    height: 413px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.card-front {
    background-color: #111;
    color: black;
}

.card-back {
    color: white;
    transform: rotateY(180deg);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}